.container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon-container {
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
