.form-container {
  margin-top: 5rem;
  padding: 5rem 0;
  color: #fff;
  background-color: #003580;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.form {
  display: flex;
  gap: 1rem;
}

.form input {
  width: 30rem;
  height: 5rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
}

.form input:focus {
  outline: none;
}

.form button {
  border-radius: 0.5rem;
}
